.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsl(0, 0%, 27%, 0.6);
}

.modal-conteudo {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 60px 60px 60px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: hsl(228, 33%, 97%);
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 15px auto;
}

.pergunta-modal {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: left;
    align-items: center;
    color: hsl(212, 24%, 26%);
    margin: 25px 20px;
    font-weight: 700;
}

.texto-modal {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: left;
    align-items: baseline;
    color: hsl(211, 10%, 45%);
    margin: 0px 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;    
}

.botao1 {
    grid-area: 3 / 1 / 4 / 2;
}

#botao1 {
    width: 110px;
    height: 40px;
    margin: 0 20px 20px 20px;
    background-color: hsl(211, 10%, 45%);
    color: hsl(228, 33%, 97%);
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

#botao1:hover {
    cursor: pointer;
    opacity: 60%;
}

.botao2 {
    grid-area: 3 / 2 / 4 / 3;
}

#botao2 {
    width: 110px;
    height: 40px;
    margin: 0 10px;
    background-color: hsl(358, 79%, 66%);
    color: hsl(228, 33%, 97%);
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

#botao2:hover {
    cursor: pointer;
    opacity: 60%;
}